python-dotenv
fastapi
uvicorn
celery
redis
flower
langchain
langgraph
langchain-anthropic
pymongo
motor[srv]>=3.6.0
sentence-transformers 
numpy
groq
python-multipart
pymupdf
# Temp
langchain-openai
ollama
transformers
sentencepiece
llama-cpp-python 
pydantic
langchain-community

